.containerVG {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 10px 0;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, auto);
  gap: 20px;
}

.paginacion {
  margin-top: 10px;
  justify-content: center;
}

.labelBlue {
  border: rgb(1, 27, 53) 5px;
  border-radius: 2px;
  margin: 5px;
  background-color: rgb(0, 64, 128);
  color: white;
  font-size: 14px;
}

.inputBlue {
  border: rgb(1, 27, 53) 2px;
  border-radius: 5px;
  height: 22px;
}

.blueButton {
  background-color: rgb(0, 64, 128);
  border: white 1px;
  border-radius: 5px;
  color: white;
  padding: 2.5px;
  margin: 0px 5px;
  text-align: center;
  font-size: 13px;
  cursor: pointer;
}