.containerVG {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 5px 0;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, auto);
  gap: 20px;
}

.paginacion {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 5px 0px;
  justify-content: center;
  display: flex;
  justify-content: space-between;
}

.barra {
  background-color: rgba(0, 64, 128,0.5);
  border-radius: 0 0 10px 10px;
  margin-bottom: 5px;
}

.lineHorizontal {
  width: 100%;
  /* max-width: 1200px; */
  margin: auto;
  border: none;
  border-top: 2px solid red;
  /* border-top: 3px solid rgb(0, 64, 128); */
  border-radius: 5px;
}

.labelBlue {
  border: rgb(1, 27, 53) 5px;
  border-radius: 2px;
  margin: 5px;
  background-color: rgb(0, 64, 128);
  color: white;
  font-size: 14px;
}

.labelRed {
  color: red ;
  /* font-style: italic; */
  font-weight: bold;
  font-size: 0.8em;
  border-radius: 5px;
  border: red 1px solid;
  /* background-color: red; */
}


.inputBlue {
  border: rgb(1, 27, 53) 2px;
  border-radius: 5px;
  height: 22px;
}

.blueButton {
  background-color: red;
  border: white 1px;
  border-radius: 5px;
  color: white;
  padding: 2.5px;
  margin: 0px 5px;
  text-align: center;
  font-size: 13px;
  cursor: pointer;
}