.containerCreate {
  width: 91%;
  max-width: 1200px;
  margin: auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.containerSupC {
  background-color: rgba(0, 64, 128, 0.1);
  border-radius: 10px;
  margin: 10px;
  padding: 3px;
}

.elementContainerSupC {
  width: 99%;
  border-radius: 5px;
}

.barraCreate {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgba(0, 64, 128, 0.5);
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
  align-items: center;
  justify-content: center;
  color: beige;
}

textarea {
  border-radius: 5px;
  resize: none;
  width: 98.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 0.95em;
  border: rgb(0, 64, 128) 2px solid;
}

.subtitle {
  height: 20px;
  margin: 0;
}

.labelBlue {
  border: rgb(1, 27, 53) 5px;
  border-radius: 5px;
  background-color: rgb(0, 64, 128);
  color: white;
  font-size: 14px;
}

.labelAlert {
  color: red;
  font-style: italic;
  font-size: 0.7em;
  border-radius: 0 0 5px 5px;
  border: red 0.5px solid;
  margin-top: 1px;
  margin-left: 5px;
  padding-left: 5px;
  width: auto;
  /* background-color: red; */
}

.labelBlue {
  border: rgb(1, 27, 53) 5px;
  border-radius: 2px;
  margin: 5px;
  background-color: rgb(0, 64, 128);
  color: white;
  font-size: 14px;
}

.containerButton {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.blueButton {
  background-color: rgb(0, 64, 128);
  border: white 1px;
  border-radius: 7px;
  color: white;
  padding: 2.5px;
  margin: 0px 5px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  height: 35px;
  width: 200px;
  cursor: pointer;
}
